*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 4rem;
  }

  .weatherapp {
    width:100%;
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
  }

  .weatherapp:before {
    content: '';
    background: url('/src/components/images/sunset.avif') no-repeat center center/cover;
    position: absolute;
    width: 100% ;
    height: 100% ;
    top: 0;
    left: 0;
    z-index: -1;
  }

.weatherapp .search{
    text-align: center;
    padding: 1rem;

}

.weatherapp input{
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.1);
}

::placeholder{
    color: #f8f8f8;
}

  /* to work well with mobile devices phones/ on full screen device to  look nice*/ 
  .container{
    max-width: 700px;
    height: 700px;
    margin: auto;
    padding: 0 1rem;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .weatherapp .header{
    
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      margin: 1rem auto;
      padding: 1rem;
      border-radius: 12px;
      background-color: rgba(255, 255, 255, 0.2);


  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .temperature {
    padding-left: 5px;
    margin-top: 65px;
  }


  .description {
    margin-top: -110px;
    margin-left: 270px;
  }
   .image-icon{
    
    width: 100px; 
    height: 100px; 
    margin-top: -160px;
    margin-left: 480px;
   
   
}

.image-logo{
  width: 50px; 
  height: 50px;
  margin: 25px;
}
.wind-speed-img{
  width: 50px; 
  height: 50px;
}

.status{
margin-top: -70px;
padding-left: 80px;
padding-bottom: 20px;
color: rgb(43, 143, 40);
}

  .feels{
    margin-top: -153px;
    margin-left: 130px;

  }

.weatherapp .footer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);

}

.bold{
    font-weight: 700;
}

.error-message{
  text-align: center;
}

.date-time{
 
  padding-top: 30px;
  align-items: center;
}




.button1{
  color: black;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  padding-right: 50px;


}

