*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 6rem;
  }

  .weatherapp {
    width:100%;
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
  }

  .weatherapp:before {
    content: '';
    background: url('/src/components/images/sunset.avif') no-repeat center center/cover;
    position: absolute;
    width: 100% ;
    height: 100% ;
    top: 0;
    left: 0;
    z-index: -1;
  }

.weatherapp .search{
    text-align: center;
    padding: 1rem;

}

.weatherapp input{
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.1);
}

::placeholder{
    color: #f8f8f8;
}

  /* to work well with mobile devices phones/ on full screen device to  look nice*/ 
  .container{
    max-width: 700px;
    height: 700px;
    margin: auto;
    padding: 0 1rem;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .weatherapp .header{
   

  }

  .header {
    /* Add flex properties to align items in a row */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .temperature {
    /* Adjust margin, padding, or other styles as needed */
    margin-right: 10px;
  }

  .description {
    /* Add styles to place the description on the right of the temperature */
    margin-top: -70px;
    margin-left: 420px;
  }
   img {
    /* Add styles to adjust the weather icon size or spacing */
     /* Optional: Add spacing between icon and text */
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    margin-top: -70px;
    margin-left: 520px;
}

  .feels{
    margin-top: -90px;
    margin-left: 260px;

  }

.weatherapp .footer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);

}

.bold{
    font-weight: 700;
}

.error-message{
  text-align: center;
}